body {
  font-family: 'Comic Sans', Helvetica, Helvetica Neue, sans-serif;
}

#main, h1, td {
  text-align: center;
}



h1 {
  font-weight: 300;
  font-size: 72px;
  color: #540468;
}

.counter {
  width: 300px;
  margin: auto;
  border: solid 3px #540468;
}

td {
  border: 1px solid #540468;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
    background-color: #540468;
    color: #fff;
}